################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


# Visual Studio files
.vs/
.vscode/
*.db
*.user
*.suo
*.cache
